{% extends "front/layouts/layout.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_home.jpg',
        'page_title' : post.title,
        'subtitle_page' : post.subtitle,
        'meta_title' : 'Écrit par ' ~ post.username ~ ' - ' ~ post.published_at|date("d/m/Y")
    } %}
{% endblock %}

{% block main %}
    <div class="container flex-grow-1 row m-auto">
        <div class="col-md-2 col-12 mb-4">
            <a href="/blog">
                <div class=""><i class="fa-solid fa-chevron-left"></i>&nbsp; retour</div>
            </a>
        </div>
        <article class="mb-4 col-md-9">
            <h3 class="border-bottom border-1 pb-3">{{ post.chapo }}</h3>
            <div class="">
                <div class="">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
