{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="css/front/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="assets/front/favicon.ico"/>
{% endblock %}

{% block main %}
    <div id="error" class="d-flex flex-column justify-content-center ">
        <a href="javascript:void(0)">
            <div class="center">
                <div class="one-error">
                    <h1>
                        <span>ERROR404</span>
                        <span>ERROR404</span>
                        <span>ERROR404</span>
                    </h1>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
