{% extends "front/layouts/layout.html.twig" %}

{% block body %}
    <div class="container px-4 px-lg-5">
        <a href="https://www.linkedin.com/in/traynaud/">
            <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
{% endblock %}