{% extends "front/layouts/layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_login.jpg',
        'page_title' : 'Connexion',
        'subtitle_page' : '',
        'meta_title' : ''
    } %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            {% include 'front/pages/login/_resetPassword.html.twig' %}
            {% include 'front/pages/login/_login.html.twig' %}
            {% include 'front/pages/login/_signIn.html.twig' %}
        </div>
    </div>

    {% if message != '' %}
        <div id="loginFlash">{{ message }}</div>
    {% endif %}
    <script>
        {% if isAdd %}
            showFlashMessage('success', 'loginFlash')
        {% else %}
            showFlashMessage('danger',  'loginFlash')
        {% endif %}
    </script>
{% endblock %}


