{% extends "front/layouts/layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_home.jpg',
        'page_title' : 'Accueil',
        'subtitle_page' : '',
        'meta_title' : 'Crée par Timothé Raynaud'
    } %}
{% endblock %}

{% block main %}


    <div id="my-account-flash" class="d-none"></div>
{% endblock %}
