{% extends "front/layouts/layout.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_home.jpg',
        'page_title' : post.title,
        'subtitle_page' : post.subtitle,
        'meta_title' : 'Écrit par ' ~ post.firstname ~ ' ' ~ post.lastname ~ ' - ' ~ post.published_at|date("d/m/Y")
    } %}
{% endblock %}

{% block main %}
    <div class="container">
        <a href="/blog"><div class="ms-4"><i class="fa-solid fa-chevron-left"></i>&nbsp; retour</div></a>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}