{% extends "front/layouts/layout.html.twig" %}

{% block title %}Reset{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_home.jpg',
        'page_title' : 'Nouveau mot de passe',
        'subtitle_page' : '',
        'meta_title' : '',
    } %}
{% endblock %}

{% block main %}
    <div class="container">
        {% if session.username is defined %}
            <div class="row justify-content-center">
                <div>Vous êtes déjà connecté</div>
            </div>
        {% else %}

            <div class="row justify-content-center">
                <div id="login" class="col-lg-8 px-5 mb-4">
                    <h3 class="text-center mb-3 border-bottom pb-3">Réinitialisation Mot de passe</h3>
                    <form action="/reset-password" id="form-reset-password" method="post">
                        <div>
                            <label for="" class="form-label fs-6">Nouveau mot de passe</label>
                            <input class="form-control mb-4 rounded" type="password" name="first-password">
                        </div>
                        <div>
                            <label for="" class="form-label fs-6">Confirmer le mot de passe</label>
                            <input class="form-control mb-4 rounded" type="password" name="second-password">
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary rounded" type="submit" name="submit" value="Enregistrer" id="form-submit-reset-password">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="reset-flash" class="d-none"></div>

    <script>
        const userId = '{{ user.user_id }}'
        const token = '{{ token }}'
    </script>
    <script src="js/front/pages/reset_password.js"></script>

{% endblock %}