{% extends "front/layouts/layout.html.twig" %}

{% block title %}Reset{% endblock %}
{% block header %}
    {% include 'front/layouts/_header.html.twig' with {
        'bandeau' : 'img/front/bandeau_home.jpg',
        'page_title' : 'Nouveau mot de passe',
        'subtitle_page' : '',
        'meta_title' : '',
    } %}
{% endblock %}

{% block main %}
    <div class="container">
        {% if session.username is defined %}
            <div class="row justify-content-center">
                <div>Vous êtes déjà connecté</div>
            </div>
        {% else %}

            <div class="row justify-content-center">
                <div id="login" class="col-lg-8 px-5 mb-4">
                    <h3 class="text-center mb-3 border-bottom pb-3">Réinitialisation Mot de passe</h3>
                    <form action="/reset-password" id="form-reset-password" method="post">
                        <div>
                            <label for="" class="form-label fs-6">Nouveau mot de passe</label>
                            <input class="form-control mb-4 rounded" type="password" name="first-password">
                        </div>
                        <div>
                            <label for="" class="form-label fs-6">Confirmer le mot de passe</label>
                            <input class="form-control mb-4 rounded" type="password" name="second-password">
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary rounded" type="submit" name="submit" value="Enregistrer" id="form-submit-reset-password">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <div id="reset-flash" class="d-none"></div>

    <script>
        const formResetPassword = document.getElementById('form-reset-password')
        const formSubmitResetPassword = document.getElementById('form-submit-reset-password')

        formResetPassword.addEventListener('submit', (event) => {
            event.preventDefault()
            formSubmitResetPassword.disabled = true

            const firstPassword = document.querySelector('input[name=first-password]')
            const secondPassword = document.querySelector('input[name=second-password]')

            const formDataResetPassword = new FormData()
            formDataResetPassword.append('firstPassword', firstPassword.value)
            formDataResetPassword.append('secondPassword', secondPassword.value)
            formDataResetPassword.append('userId', '{{ user.user_id }}')

            fetch('/reset-password', {
                method: 'POST',
                body: formDataResetPassword
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        throw new Error('Erreur de connexion')
                    }
                })
                .then(data => {
                    if (data.isReset) {
                        showFlashMessage('reset-flash', data.message, 'success')
                        setTimeout(() => {
                            window.location.href = '/login'
                        }, 2000)
                    } else {
                        showFlashMessage('reset-flash', data.message, 'danger')
                    }
                })
                .catch(error => console.error(error))
                .finally(() => {
                    setTimeout(() => {
                        formSubmitResetPassword.disabled = false
                    }, 2000)
                })
        })
    </script>
{% endblock %}