{% macro render_all_posts(post) %}
    <hr class="my-4"/>
    <div class="post-preview">
        <a href="/post?{{ post.id }}">
            <h2 class="post-title">{{ post.title|capitalize }}</h2>
        </a>
        <p class="post-meta">
            Posted by {{ post.createdBy.username }}
            on {{ post.publishedAt|date("d/m/Y") }}
        </p>
    </div>
{% endmacro %}
