<div id="login" class="col-lg-8 px-5 ">
    <div class="text-end mb-4">
        <a href="javascript:void(0)" onclick="hideAndShow('login', 'sign-in')">
            <div class="">S'inscrire <i class="fa-solid fa-arrow-right"></i></div>
        </a>
    </div>
    <h3 class="text-center mb-3 border-bottom pb-3">Connexion</h3>
    <form action="" method="post" id="form-connection">
        <div class="pb-3">
            <label for="" class="form-label d-block">Login </label>
            <input name="login" type="text" class="w-100 form-control rounded" required>
        </div>
        <div class="pb-3">
            <label for="" class="form-label d-block">Password</label>
            <input type="password" class="form-control rounded w-100" name="password" rows="5" cols="50" maxlength="200"
                   required></input>
        </div>
        <div class="text-center">
            <input type="submit" VALUE="Se connecter" class="btn btn-primary rounded shadow"
                   id="form-submit-connection">
        </div>
    </form>
    <div class="text-center mt-1">
        <a href="javascript:void(0)" class="fs-6" onclick="hideAndShow('login', 'reset-password')">Mot de passe oublié
            ?</a>
    </div>
</div>

<script>
    const formConnection = document.getElementById('form-connection')
    const formSubmitConnection = document.getElementById('form-submit-connection')

    formConnection.addEventListener('submit', (event) => {
        event.preventDefault()
        formSubmitConnection.disabled = true

        const loginInput = document.querySelector('input[name=login]')
        const passwordInput = document.querySelector('input[name=password]')

        const formDataConnection = new FormData()
        formDataConnection.append('login', loginInput.value)
        formDataConnection.append('password', passwordInput.value)

        fetch('/connexion', {
            method: 'POST',
            body: formDataConnection
        })
            .then(response => {
                if (response.ok) {
                    return response.json()
                } else {
                    throw new Error('Erreur de connexion')
                }
            })
            .then(data => {
                if (data.isConnecting) {
                    window.location.href = '/my-account'
                } else {
                    showFlashMessage('login-flash', data.message, 'danger')
                }
            })
            .catch(error => console.error(error))
            .finally(() => {
                setTimeout(() => {
                    formSubmitReset.disabled = false
                }, 2000)
            })
    })
</script>