<div id="sign-in" class="col-lg-8 px-5 d-none mb-4">
    <div class="mb-4">
        <a href="javascript:void(0)" onclick="hideAndShow('sign-in', 'login')">
            <div class=""><i class="fa-solid fa-chevron-left"></i>&nbsp;Se connecter</div>
        </a>
    </div>
    <h3 class="text-center mb-3 border-bottom pb-3">Inscription</h3>
    <form action="/inscription" method="post" id="signin-form">
        <div class="pb-3">
            <label for="" class="form-label fs-6">Email </label>
            <input name="email" type="email" class="w-100 form-control rounded" required>
        </div>
        <div class="pb-3 w-100 me-md-2">
            <label for="" class="form-label fs-6">Nom d'utilisateur </label>
            <input name="username" type="text" class="w-100 form-control rounded" required id="is-available-username">
            <span id="username-availability" class="fs-6 fst-italic fw-lighter"></span>
        </div>
        <div class="pb-3">
            <label for="" class="form-label fs-6">Login </label>
            <input name="login" type="text" class="w-100 form-control rounded" required id="is-available-login">
            <span id="login-availability" class="fs-6 fst-italic fw-lighter"></span>
        </div>
        <div class="pb-3">
            <label for="" class="form-label fs-6">Password </label>
            <input type="password" class="form-control rounded w-100" name="password" rows="5" cols="50" maxlength="200"
                   required>
        </div>
        <div class="text-center mb-4">
            <input type="submit" VALUE="S'inscrire" class="btn btn-primary rounded shadow" id="sign-in-submit">
        </div>
    </form>
</div>


<script>
    const loginField = document.getElementById('is-available-login')
    const usernameField = document.getElementById('is-available-username')

    loginField.addEventListener('input', () => testDisponibilityOfField(loginField, 'login', 'sign-in-submit'))
    usernameField.addEventListener('input', () => testDisponibilityOfField(usernameField, 'username', 'sign-in-submit'))
</script>
