{% extends 'email/base.html.twig' %}

{% block body %}
    <h1>Bonjour {{ username }}</h1>
    <p>Nous avons bien reçu votre demande de réinitialisation du mot de passe.</p><br>
    <p>Pour réinitialiser le mot de passe :</p>
    <a href="{{ token }}">Cliquez ici</a>
    <p>Ce liens n'est valide qu'une fois et pour 24h maximum.</p>
    <p>Si vous n'êtes pas à l'origine de cette inscription, merci d'ignorer cet email.</p><br>
    <p>Cordialement,</p>
    <p>L'équipe de My-Blog</p>
{% endblock %}
